<div class="container">	
	<div class="row">
		<div id="indexBox1" class="col-xs-2"></div>
		<div id="indexBox2" class="col-xs-2"></div>
		<div id="indexBox3" class="col-xs-2"></div>
		<div id="indexBox4" class="col-xs-2"></div>
		<div id="indexBox5" class="col-xs-2"></div>
		<div id="indexBox6" class="col-xs-2"></div>
		<div id="indexBox7" class="col-xs-2"></div>
		<div id="indexBox8" class="col-xs-2"></div>
		<div id="indexBox9" class="col-xs-2"></div>
		<div id="indexBox10" class="col-xs-2"></div>

	<div>
</div>